[submodule "Analysis/MATLAB/Ephys/external/RatBrainAtlasAPI"]
	path = Analysis/MATLAB/Ephys/external/RatBrainAtlasAPI
	url = https://github.com/mattgaidica/RatBrainAtlasAPI.git
[submodule "Analysis/MATLAB/Ephys/+external/+Manifold"]
	path = Analysis/MATLAB/Ephys/+external/+Manifold
	url = https://github.com/jonzia/Manifold
